<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * This file is part of the Itabs_NewsletterSending module.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category  Itabs
 * @package   Itabs_NewsletterSending
 * @author    Rouven Alexander Rieker <rouven.rieker@itabs.de>
 * @copyright 2012 ITABS GmbH / Rouven Alexander Rieker (http://www.itabs.de)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://github.com/itabs/Itabs_NewsletterSending
 */
 -->
<config>
	<modules>
		<Itabs_NewsletterSending>
			<version>0.1.0</version>
		</Itabs_NewsletterSending>
	</modules>
	<global>
		<helpers>
			<itabs_newslettersending>
				<class>Itabs_NewsletterSending_Helper</class>
			</itabs_newslettersending>
		</helpers>
		<models>
			<itabs_newslettersending>
				<class>Itabs_NewsletterSending_Model</class>
			</itabs_newslettersending>
			<newsletter>
				<rewrite>
					<observer>Itabs_NewsletterSending_Model_Observer</observer>
				</rewrite>
			</newsletter>
		</models>
	</global>
    <default>
        <newsletter>
            <sending>
                <count_of_queue>3</count_of_queue>
                <count_of_subscriptions>20</count_of_subscriptions>
            </sending>
        </newsletter>
    </default>
</config>